# Load dynamic library
useDynLib(bayesSurv)

# Export all names
exportPattern(".")

# Register methods
S3method(plot, "bayesDensity")
S3method(plot, "bayesGspline")
S3method(plot, "marginal.bayesGspline")

S3method(print, "bayesDensity")
S3method(print, "simult.pvalue")

# Import all packages listed as Imports or Depends
import(
  survival,
  coda,
  smoothSurv
)


# Selective import from standard packages
# (to make CRAN check happy)
importFrom(graphics, "contour", "hist", "legend", "lines", "par", "plot", "text", "title")
importFrom(stats, "IQR", "density", "model.extract", "model.matrix", "na.fail", "pnorm", "quantile", "runif", "sd", "terms")
importFrom(utils, "read.table")
